body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/backgrounds/PNG/game_background_2/game_background_2.png");
    object-fit: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgba(255, 253, 253, 0.8);
    margin-top: 30px !important;
    object-fit: cover;
    background-position: bottom;
    display: block;
}

.logoelf {
    width: 335px;
}


.logo {
    border-radius: 4px;
    transition: all 5s;
    border: 2px solid #fff;
    z-index: 1;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    animation: bounce;
    animation-duration: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover .wrapper {
    transform: perspective(900px) translateY(-80%) rotateX(50deg) translateZ(10);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }

    100% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

.headline {
    width: 1200px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    font-size: 80px;
    color: rgb(255, 255, 255);
    z-index: 20;
    opacity: 100%;
    font-family: 'ARIUAL';
    padding-top: 40px;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}

.headline:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.firstscreen {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 120;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/backgrounds/PNG/game_background_2/game_background_2.png');
}

.jumpin {
    width: 100px;
    height: 100px;
    z-index: 130;

}

.score {
    font-size: 30px;
    font-family: 'ARIUAL';
    font-weight: 700;
    color: #bbd826;

}

.position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    margin-top: 580px;
}

.startscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-image: url("img/backgrounds/PNG/game_background_2/game_background_2.png");
}


.secondscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-image: url("img/backgrounds/PNG/game_background_2/game_background_2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backdrop {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-image: url("img/backgrounds/PNG/game_background_2/game_background_2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameLore {
    font-family: 'ARIUAL';
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}

.btn {
    width: 300px;
    height: 50px;
    background-image: url("img/elfs/_PNG/1/Elf_01__ATTACK_000.png");
    color: whitesmoke;
    font-size: 20px;
    border: 4px solid white;
    font-weight: 800;
    object-fit: cover;
    background-color: #C21022;
    text-shadow: rgb(255, 255, 255);
}

.btn:hover {
    text-decoration: dotted;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.985);
    background-image: url("img/elfs/_PNG/3/Elf_03__DIE_000.png");
    object-fit: cover;
    font-size: 28px;
}

.btn2 {
    width: 400px;
    height: 50px;
    background-image: url("img/elfs/_PNG/1/Elf_01__ATTACK_000.png");
    color: whitesmoke;
    font-size: 20px;
    border: 4px solid white;
    font-weight: 800;
    object-fit: cover;
    background-color: #C21022;
    text-shadow: rgb(255, 255, 255);
    margin-top: 40px;
}

.btn2:hover {
    text-decoration: dotted;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-image: url("img/elfs/_PNG/3/Elf_03__DIE_000.png");
    object-fit: cover;
    font-size: 28px;
}

.buttons {
    display: flex;
    flex-direction: row;
}


.arrows {
    width: 50px;
}

.settings {
    border-radius: 16px;
    background-color: #62721A;
    margin: 20px;
}

.settings:hover {
    background-color: #C21022;
}

.controller {
    width: 40px;
}


.red {
    border-radius: 16px;
    margin: 20px;
    background-color: #C21022;
}


.sound {
    width: 40px;
    border-radius: 16px;
}

.endscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-image: url("img/backgrounds/PNG/game_background_2/game_background_2.png");
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.endscreenContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endscreenHeadline {
    font-size: 160px;
    font-weight: 800;
    color: aliceblue;
    padding-top: 136px;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}

.gameendlore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ARIUAL';
    margin-top: 50px !important;
    margin-bottom: 50px;
}

.mobileControllerLeft {
    display: none;
    z-index: 10;
    position: absolute;
    left: 10px;
    bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.btnSmall {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #62721A;
    border: 2px solid #272D05;
    color: #D7CC8D;
    text-shadow: -1px 0 #7D4B07, 0 1px #7D4B07, 1px 0 #7D4B07, 0 -1px #7D4B07;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSmall:hover {
    background: linear-gradient(to bottom, #65751c 5%, #343D0E 100%);
    background-color: #2A320B;
}

.arrowUp {
    transform: rotate(180deg);
    width: 30px;
}

.arrowLeft {
    transform: rotate(90deg);
    width: 30px;
}

.arrowRight {
    transform: rotate(270deg);
    width: 30px;
}

.mobileControllerRight {
    display: none;
    z-index: 10;
    position: absolute;
    right: 10px;
    bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.flashcastBtn {
    width: 80px;
}

.firecastBtn {
    width: 80px;
}

.howToPlay {
    font-family: 'ARIUAL';
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}

.walkRight {
    font-family: 'ARIUAL';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #e4efab;
    font-weight: 700;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}

.walkLeft {
    font-family: 'ARIUAL';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #e4efab;
    font-weight: 700;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
    flex-direction: row-reverse;
}


.jump {
    font-family: 'ARIUAL';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #e4efab;
    font-weight: 700;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}


.flash {
    font-family: 'ARIUAL';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #e4efab;
    font-weight: 700;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
    margin-top: 20px;
}


.flash img {
    width: 150px;

}

.fire {
    font-family: 'ARIUAL';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #e4efab;
    font-weight: 700;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
    margin-top: -100px;
}


.fire img {
    width: 250px;

}

.startMenu {
    display: flex;
    gap: 15px;
}

.icon {
    width: 60px;
}

.btn {
    font-family: 'GrowlyGrin';
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #62721A;
    border: 2px solid #272D05;
    color: #D7CC8D;
    text-shadow: -1px 0 #7D4B07, 0 1px #7D4B07, 1px 0 #7D4B07, 0 -1px #7D4B07;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}

.btn:hover {
    background: linear-gradient(to bottom, #65751c 5%, #343D0E 100%);
    background-color: #2A320B;
}

.btn:active {
    position: relative;
    top: 1px;
}

.logo3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    transition: all 5s;
    z-index: 1;
    display: inline-block;
    animation: bounce;
    animation-duration: 2s;
    margin-top: 10px;
}

.logo3:hover .wrapper {
    transform: perspective(900px) translateY(-80%) rotateX(50deg) translateZ(10);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

/* .btn3 {
    font-family: 'GrowlyGrin';
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #62721A;
    border: 2px solid #272D05;
    color: #D7CC8D;
    text-shadow: -1px 0 #7D4B07, 0 1px #7D4B07, 1px 0 #7D4B07, 0 -1px #7D4B07;
    font-size: 30px;
    cursor: pointer;
    margin-top: 580px;
    margin-left: 200px;
    color: rgb(247, 219, 181);
    text-shadow: 2px 4px 2px rgb(0, 0, 0);
}

.btn3:hover {
    background: linear-gradient(to bottom, #65751c 5%, #343D0E 100%);
    background-color: #2A320B;
}

.btn3:active {
    position: relative;
    top: 1px;
} */

.dnone {
    display: none;
}

.show {
    display: flex;
}



/* Responsive */
@media (max-width: 500px) {
    body {
        font-size: 21px;
    }

    .logo {
        width: 300px;
    }

}

/* Smartphone */
@media only screen and (max-width:1368px) {
    .logo {
        width: 90%;
    }


    .headline {
        width: 60%;
    }

    .mobileControllerLeft {
        display: flex;
    }

    .mobileControllerRight {
        display: flex;
    }

}

@media only screen and (max-width:720px) {
    header img {
        display: none !important;

    }

    .game {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    .menu {
        width: 100%;
    }

    .endscreen {
        width: 100%;
    }

    .endscreenContent {
        width: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .firstscreen {
        width: 100%;
    }
}

@media only screen and (max-height:660px) {
    .btn3 {
        margin-top: 460px;
        margin-left: 50px;
        display: none;
    }

    .position {
        margin-top: 286px;
        margin-left: 72px;
    }

    .logo {
        width: 40%;
    }

    .firstscreen {
        width: 100%;
    }
}

@media only screen and (max-height:620px) {
    .startscreen {
        height: 100vh;
        padding: 0;
    }

    .backdrop {
        height: 100vh;
        padding: 0;
    }

    .gameLore {
        font-size: 20px;
    }

    .btn3 {
        margin-top: 280px;
        margin-left: 50px;

    }

}

@media only screen and (max-height:580px) {
    .btn3 {
        margin-top: 100px;
        margin-left: 40px;
    }
}

@media only screen and (max-height:480px) {
    .game {
        height: 100vh;
    }

    canvas {
        height: 100vh;
        border: none;
    }

    .endscreen {
        height: 100vh;
    }

    .endscreenContent {
        height: 100vh;
    }

    .btn {
        bottom: 5px;
    }
}